.pokeinfo_stat-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokeinfo_stat-item span:nth-child(2){
    justify-self: end;
}

.outbar {
    overflow: hidden;
    grid-column: span 2;
    border-radius: 5px;
    border: 1px solid;
    height: 20px;
    width: 100%;   
}

.inbar {
    background-color: orange;
    width: 50%;
    height: 100%;

}